<div
  class="movie h-full p-8 text-white flex flex-col bg-gray-800 bg-blend-multiply"
  [ngStyle]="{
    'background-image':
      'url(' +
      'https://image.tmdb.org/t/p/original' +
      movie.backdrop_path +
      ')',
    'background-size': 'cover'
  }"
  *ngIf="movie"
>
  <div class="header flex items-center justify-between mb-8">
    <div class="title">
      <div class="text-7xl text-teal-100 hover:text-teal-300 transition-all">{{ movie.title }}</div>
      <div class="text-md">{{ movie.tagline }}</div>
    </div>
    <a
      *ngIf="movie.homepage"
      class="cursor-pointer bg-teal-600 text-white p-4 rounded-md transition-colors hover:bg-teal-800"
      [href]="movie.homepage"
      target="_blank"
      >Watch the Movie</a
    >
  </div>

  <div class="mb-8">Relased on <span class="text-teal-100">{{ movie.release_date }}</span></div>
  <div class="flex-1">{{ movie.overview }}</div>
  <div class="watch"></div>
</div>
